.nav{
    padding-left:19%;
    font-family: "Lucida console";
    font-size: 20px;
    font-weight: bold;
}
.panel{
    margin-top:30px;
    width:30%;
    font-size:18px;
    font-family: "verdana";
    text-align:center;
}
.panel > .panel-heading {
    background-image: none;
    background-color: yellow;
    color: black;
}
.troll{
    width:auto;
    height:40%;
   
}
.trooll{
    padding-left:40%;
}
.ceva{
    padding-left: 38%;
    }
.titlu{
    font-family:"Times new roman";
    font-size:30px;
    font-weight:bold;
}
img {
    width:30px;
    height:30px;
    float:left;
}.tabel{
    width:90%;
}
.ceva2{
    padding-left:8%;
}
.cursuri{
    font-family:"Lucida console";
    font-weight:bold;
    font-size:20px;
    padding-right:8%;
}